$roster_bg: #f9f9f9;

/*$state_online: green;
$state_offline: #cfcfcf;

$roster_color: #000;
$roster_bg: #f0f0f0;
$roster_border_left: #e0e0e0;

$roster_bottom_bg: #6796c2;
$roster_bottom_border_top: white;
$roster_bottom_color: #fff;

$avatar_bg: #9abcd8;
$avatar_color: #b8d0e3;

$window_bg: #CCDDEC;
$window_bar_bg: #6796c2;
$window_bar_color: #fff;
$window_settings_bg: #6796c2;

$tools_color: #fff;

$spot_border: #000;

$notice_color: #fff; */
